@media screen and (max-width:700px) {
    header .container , .container .logo {
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filme_principal .container {
        width: 80%;
    }

    .botao {
        width:150px ;
        height: 60px;
        margin-bottom: 60px;
    }
}